@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<ZeroHunger.DTOs.RestaurantDTO>

@{
    ViewBag.Title = "Restaurant";
}

<div>
    <h1 class="text-center">Restaurant</h1><br />
    <table class="table table-striped table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Phone</th>
            <th>Location</th>
            <th class="text-center" colspan="2"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.username</td>
                <td>@item.password</td>
                <td>@item.phone</td>
                <td>@item.location</td>
                <td class="text-center"><a href="/home/UpdateRestaurant/@item.id" class="btn btn-primary">Update Details</a></td>
                <td class="text-center"><a href="/home/DeleteRestaurant/@item.id" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </table>
</div>